/* #about {
    box-sizing: border-box;
    max-width: 800px;
    text-align: left;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    margin-bottom: 10vh;
    margin-top: 6%;
} */

#about {
    /* margin-top: 56vw; */
    padding: 8%;
    /* position: relative; */
    background: white;
    text-align: left;
}

    #about iframe {
        width: 100%;
        height: 48vh;
    }

    #about h4 {
        font-family: 'roboto-light', Arial;
    }

    #about a {
        text-decoration: underline;
    }

    #about img {
        width: 100%;
    }

.apanio {
    box-sizing: border-box;
    width: 100%;
}

.apanio2 {
    height: 200px;
    width: 200px;
    background-image: url(../img/ivo.png);
    background-size: cover;
    background-repeat: none;
    /* position: fixed; */
    /* top: 0px; */
    /* max-height: 500px; */
    border-radius: 50%;
}

main {
    text-align: center;
}

.mdl-layout-title {
    color: black;
}

.mdl-layout__content {
    background: white;
    color: black;
}

footer {
    text-align: left;
}


@media screen and (max-width: 777px) {
    
    iframe {
        width: 100%;
        height: 56vw;
        margin-top: 0px;
    }
    
}